.subproject_title {
	padding-bottom: 0;
	margin-bottom: 0;'
	color: #444;
}

.subproject_description {
	padding-top: 0;
	margin-top: 0;
	color: #aaa;
}

.task_title {
	font-weight: bold;
}
.status {
	font-weight: bold;
}
.taskbox {
	border: 1px solid #ccc;
	margin-bottom: 1em;
}
.task_description {
	
	padding-left: 5px;
	padding-top: .5em;
}

.state_Closed {
	color: #ccc;
}
.tasks {
	padding-left: 1em;
}